<%- include("./partials/header") %>
    
    <!-- block for slogan  -->
    <div class="slogan">
        <p>VOCAL
            <p>FOR</p>
            <p>LOCAL</p>
        </p>
    </div>
    <% if (!locals.user) { %>
        <!-- block for login  -->
    <div class="login">
        <!-- <button class="btn">Log In</button> -->
       <a href="/login0"> <button type="button" class="btn btn-dark">LogIn</button></a>
      
    </div>
    <div class="sign">
    <p>Don't have Account?<a href="/signup0">SignUP</a></p>
    </div>
        
    <% } %>

    
    <%- include("./partials/footer") %>
