<%- include("partials/header") %>
<form action="/login" method="POST">
 
  <label for="email">Email:</label><br />
  <input type="email" id="email" name="email" required /><br />
   <label for="password">Password.:</label><br />
  <input type="password" id="password" name="password" required /><br /><br />
  <input type="submit" value="Submit" />
</form>
<%- include("partials/footer") %>
