
<%- include("./partials/header") %>

<style>
    body{
       background-image: url('../img/pro-01.png');
       
       
    }</style>
    <!-- product image  -->
    <div class="pimage">
        <img src="img/ps.jpg" id="sneakimg" alt="sneakers">
    </div>


    <!-- product description  -->
    <div class="desc">
        
            <span class="brand">Numenzo</span>
            <span class="ptype">Sneakers</span>
            <span class="price">&#8377;450</span>
            
            <div class="para">
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt fuga culpa corrupti. Vel quam illum consequatur? Excepturi quidem, labore reprehenderit quas accusantium sunt, numquam delectus, atque doloremque culpa et necessitatibus officia dolorem rerum amet?
                </p>
            </div>
   </div>
   

   <!-- block for address -->
    <div class="address">
        <img src="img/locator.png" alt="" class="addresslogo">
        <i class="fa-duotone fa-location-dot"></i>
        <label for="addrs">Availability Location</label><br>
        <input type="text" id="addrs" placeholder="Write address here">
    </div>


    <%- include("./partials/footer") %>
  